
@{
    ViewData["Title"] = "Index";
}
    <div class="searchTable ">
        <div class="layui-inline">
            <input class="layui-input" name="value" id="searchReload" placeholder="按任务名称、内容查询" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
<table id="logs" lay-filter="logs"></table>

