
@{
    ViewData["Title"] = "Index";
}
    <div class="searchTable">
        <font color='green' size='3'> <b>按日志等级、日志内容及任务名称:</b></font>
        <div class="layui-inline">
            <input class="layui-input" name="value" id="searchReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
<table id="logs" lay-filter="logs"></table>

