<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="infofile" fileName="Log/info-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="errorFile" fileName="Log/error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="debugFile" fileName="Log/debug-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
  </targets>
  <!--${logger}|-->
  <rules>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoFile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFile" />
  </rules>
</nlog>