<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="CommonInfo.log">
  <!--define various log targets-->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Database"
            name="db"
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
            connectionString="Data Source=Db/LogData.dll;">
      <commandText>
        insert into Logs (TimestampUtc, Application, Level, Message, EventId, Logger)
        values (@timestamputc, @application, @level, @message, @eventId, @logger);
      </commandText>
      <parameter name="@timestamputc" layout="${date:universalTime=false:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@application" layout="自动调度任务日志" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@eventId" layout="${event-properties:EventId}" />
      <parameter name="@logger" layout="${logger}" />
    </target>

  </targets>
  <rules>
    <logger name="Microsoft.*"  maxlevel="Info" final="true"/>
    <logger name="*" writeTo="db" minlevel="Info"/>
  </rules>
</nlog>